
/* CSS Document */
@font-face{
	font-family: Digital7Mono;
	src:url("fonts/Digital7Mono.ttf");
}
@font-face{
	font-family: Dosis-SemiBold;
	src:url("fonts/Dosis-SemiBold.ttf");
}
.container{
	font-family:Digital7Mono;
}
.headings{
	font-family:  Dosis-SemiBold;
	width:100%;
	margin-left: 600px;
	margin-top:-8px;
	
}
.headings p{
	width: 1000px;
	margin-left: -130px;
	margin-top:-23px;
	
	
}
.heading h{
	font-size: 20px;
	color: whitesmoke;
	margin-left: -220px;
}
.questionClass1{
	display: block;
}
.container{
  margin-left: 580PX;
	margin-top: -390PX;
	width: 100%;
	margin-top: -670px;
}
body {
  background-image: url('images/Artboard 1.png');
  background-repeat: no-repeat;
background-color: #63BDA4;
	width: 200px;
	 background-size: cover;
	
}

.bmo{
	width: 300px;
	height: auto;
	transform: rotate(-30deg);
}
.circle1{
	width: 310px;
	height: auto;
	margin-left:10px;
}

.plus{
	width: 360px;
	height: auto;
	margin-left: 1230px;
	margin-top: -4200px;
}
.circle2{
	width: 390px;
	height: auto;
	margin-left: 1100px;
	margin-top: -1000px;
	margin-bottom: 400px;
}
#Question1{
	font-size: 20px;
}
#Question2{
	font-size: 20px;
}

#Question3{
	font-size: 20px;
}
#answerOne{
	width: 38px;
	height: 20px;
	background-color: transparent;
	border: 2px  #A29D9D dashed;
  border-radius: 4px;
}
#answerTwo{
	width: 38px;
	height: 20px;
	background-color: transparent;
	border: 2px  #A29D9D dashed;
  border-radius: 4px;
}#answerThree{
	width: 38px;
	height: 20px;
	background-color: transparent;
	border: 2px  #A29D9D dashed;
  border-radius: 4px;
}
.BMO2{
	width: 200px;
	height: auto;
	transform: rotate(-10deg);
	margin-left: 1100px;
	margin-top: -1000px;
	margin-bottom: 400px;
	
}

.points{
	font-size: 30px;
	font-weight: 200;
	 colour:green;
}
#button1{
	background-color:transparent;
	border-color:  #63BDA4;
	border-radius:10px;
}
#button2{
	background-color:transparent;
	border-color:  #63BDA4;
	border-radius:10px;
}
#button3{
	background-color:transparent;
	border-color:  #63BDA4;
	border-radius:10px;
}

